 <div class="jumbotron">
        <h1>Stop!  Collaborate and Wiki!</h1>
        <p class="lead">Welcome to Stikywiki, where you can create public and private wikis to share with your community.  Information is power!</p>
        <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-info" %></p>
      
      </div>
