@import "bootstrap"; 

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}